@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&family=Yeseva+One&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 140%;
}

button {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.icon {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.icon-call {
  background-image: url("../images/icon/icon-call.png");
}

.icon-local {
  background-image: url("../images/icon/icon-local.png");
}

.icon-time {
  background-image: url("../images/icon/icon-time.png");
}

.icon-search {
  background-image: url("../images/icon/icon-search.png");
  width: 20px;
  height: 20px;
}

.icon-bar {
  background-image: url("../images/icon/icon-bar.png");
  width: 24px;
  height: 16.8px;
}

.icon-arrow-right {
  background-image: url("../images/icon/icon-arrow-right.png");
  width: 10.8px;
  height: 10px;
}

.icon-linkedin {
  background-image: url("../images/icon/social/icon-linkedin.png");
  width: 24px;
  height: 24px;
}

.icon-fb {
  background-image: url("../images/icon/social/icon-fb.png");
  width: 24px;
  height: 24px;
}

.icon-itg {
  background-image: url("../images/icon/social/icon-itg.png");
  width: 24px;
  height: 24px;
}

.icon-drug {
  background-image: url("../images/icon/medical/icon-drugs.png");
  width: 30px;
  height: 30px;
}

.icon-heart {
  background-image: url("../images/icon/medical/icon-heart.png");
  width: 30px;
  height: 30px;
}

.icon-cross {
  background-image: url("../images/icon/medical/icon-cross.png");
  width: 30px;
  height: 30px;
}

.icon-bottle {
  background-image: url("../images/icon/medical/icon-bottle.png");
  width: 30px;
  height: 30px;
}

.icon-arrow-down-n {
  background-image: url("../images/icon/icon-arrow-down-n.png");
  width: 16px;
  height: 9.5px;
}

.social-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.container {
  padding: 0 10%;
  width: 100%;
  max-width: 1366px;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  color: #1f2b6c;
  border: none;
  background-color: #bfd2f8;
  height: 45px;
  padding: 0 35px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  font-family: inherit;
}

.btn--rounded {
  border-radius: 50px;
}

.btn--primary {
  color: #bfd2f8;
  background-color: #1f2b6c;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.card {
  border-radius: 5px;
  border: 1px solid #d0d4e1;
}
.card__item {
  text-align: center;
  padding: 24px;
}
.card__item:hover {
  background-color: #1f2b6c;
  border-radius: 5px;
  color: #bfd2f8;
  outline: 1px solid #1f2b6c;
}
.card__item:hover .icon {
  filter: grayscale(55%) opacity(60%) brightness(300%);
}
.card__footer {
  color: #bfd2f8;
  text-align: center;
  width: 100%;
  padding: 12px 0;
  border-radius: 0 0 5px 5px;
  outline: 1px solid #1f2b6c;
}

.bg-primary {
  background-color: #1f2b6c;
}

.text-title {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
}
.text-title--sub {
  text-transform: uppercase;
  color: #159eec;
  font-size: 14px;
}
.text-title--main {
  font-family: "Yeseva One";
  color: #1f2b6c;
  width: 260px;
  margin: 0 auto;
  font-weight: normal;
  text-align: center;
  line-height: 28px;
}

.section {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 5%;
}
.section__navigation {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: #159eec;
}

header {
  background-color: #1f2b6c;
  width: 100%;
}

/*---- start navbar ---*/
.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__menu {
  display: none;
  gap: 20px;
  height: 100%;
  align-items: center;
}
.navbar__menu li {
  list-style: none;
}
.navbar__menu a {
  color: #fcfefe;
}
.navbar__feature {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navbar__feature button {
  display: none;
}
.navbar .info-web__logo--mobile {
  color: #fcfefe;
  display: block;
}
.navbar .info-web__logo--mobile span {
  color: #bfd2f8;
}

/*---- end navbar ---*/
/*---- start info-web ---*/
.info-web {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.info-web__logo {
  font-family: "Yeseva One";
  text-transform: uppercase;
  color: #159eec;
  display: none;
}
.info-web__logo span {
  color: #1f2b6c;
}
.info-web--content {
  font-weight: 500;
  padding: 16px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.info-web__item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.info-web__item--sub {
  color: #159eec;
  font-size: 14px;
}
.info-web__item--sub p:first-child {
  text-transform: uppercase;
  color: #1f2b6c;
}
.info-web__item--icon {
  height: 23px;
  width: 23px;
}

/*---- end info-web ---*/
/*---- start hero ---*/
.hero {
  position: relative;
}
.hero__content {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*---- end hero ---*/
/*---- start services ---*/
#services .section__content {
  padding: 0 5%;
}

/*---- end services ---*/
/*---- start specialties ---*/
#specialties .section__title {
  margin-bottom: 50px;
}
#specialties .section__content {
  padding: 64px 5%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url("../images/hero-doctors-scaled.png");
  background-size: cover;
}
#specialties .text-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#specialties .text-title h2 {
  color: #159eec;
  font-family: "Yeseva One";
  font-weight: normal;
}

.form--book {
  opacity: 1;
  border-radius: 5px;
  background-color: #1f2b6c;
}
.form--book > div {
  padding: 16px 20px 12px;
  border-bottom: 1px solid #bfd2f8;
  color: #fcfefe;
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.form--book input,
.form--book textarea {
  width: 100%;
  outline: none;
  border: none;
  height: 100%;
  background-color: #1f2b6c;
}
.form--book ::placeholder {
  color: #fcfefe;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
  font-family: "Work Sans", sans-serif;
}
.form--book > button {
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  text-transform: uppercase;
  height: 50px;
  cursor: pointer;
}

/*---- end services ---*/
/*---- Start care ---*/
#care .card {
  text-align: center;
  border-radius: 0;
  background-color: #bfd2f8;
  padding: 16px;
  color: #1f2b6c;
  font-size: 18px;
}
#care .card div:nth-child(2) {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
}
#care button {
  width: 100%;
  border-radius: 0 0 5px 5px;
}

/*# sourceMappingURL=main.css.map */
